<!DOCTYPE html>
<html>
<head>
  <title>GannettMonitor</title>
  <%= stylesheet_link_tag    "gannett_monitor/application", media: "all" %>
  <%= javascript_include_tag "gannett_monitor/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
