<h1>Listing application_states</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_states.each do |application_state| %>
      <tr>
        <td><%= application_state.name %></td>
        <td><%= link_to 'Show', application_state %></td>
        <td><%= link_to 'Edit', edit_application_state_path(application_state) %></td>
        <td><%= link_to 'Destroy', application_state, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application state', new_application_state_path %>
