<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @application_state.name %>
</p>

<%= link_to 'Edit', edit_application_state_path(@application_state) %> |
<%= link_to 'Back', application_states_path %>
